<!DOCTYPE html>
<html>
<head>
 <title>Contact</title>
 <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="site">
 <div class="header">
 <h1>Beer profiles</h1>
 </div>
 <div class="menu">
 <ul>
   <li><a href="index.html">Home</a></li>
   <li><a href="order.html"><u>Contact</u></a></li>
   <li><a href="beerprofiles.html">Profile</a></li>
 </ul>
</div>
<div class="rightbar">
</div>
<div class="topcontent">
<h2>Order</h2>
<br/>
<p id="notice"><%= notice %></p>

<h1>Beer of the week</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.price %></td>
        <td><%= beer.description %></td>
        <td><%= beer.picture %></td>
        <td><%= beer.score %></td>
        <td><%= link_to 'Show', beer %></td>
        <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer', new_beer_path %>

<br/>
<br/>
<a href="voting.html.erb">LIKE</a> || DISLIKE

</div>
<div class="bottemcontent">
</div>
<div class="footer">
 &#169; Copyright 2015
</div>
</div>
</body>
</html>
