<!DOCTYPE html>
<html>
<head>
  <title>Bier</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site">
    <div class="header">
      <h1>Beer of the week!</h1>
    </div>
    <div class="menu">
    <ul>
     <li><%= link_to 'Home', root_path %></li>
     <li><%= link_to "Order", new_order_path %></li>
    </ul>
    </div>
  <div class="rightbar">
  </div>

  <div class="topcontent">
<%= yield %>
</div>
  <div class="bottemcontent">
  </div>
  <div class="footer">
    &#169; Copyright 2015
  </div>
</div>
</body>
</html>
